export SPRY_DB="sqlite://resource-surveillance.sqlite.db?mode=rwc"
export PORT=9227
# export STUDY_DATA_PATH="raw-data/dexcom-synthetic-cgm/"
export STUDY_DATA_PATH="raw-data/simplera-synthetic-cgm/"
export TENANT_ID="FLCG"
export TENANT_NAME="Florida Clinical Group"
export PARTICIPANT_FILE="raw-data/simplera-synthetic-cgm/participant.csv"
export CGM_DIR="raw-data/simplera-synthetic-cgm/"
export SIMPLERA_CGM_FILE_PATTERN="cgm_tracing"
direnv allow
